$color-primary: #353535
$color-secondary: #3c6e71
$color-tertiary: #d9d9d9
$color-quaternary: #284b63
$color-white: #ffffff
$color-black: #000000

$color-gray-lt: #E6E7E8
$color-gray-md: #A7A9AC

$selected-color-primary: #0B9AAB
$selected-color-primary-50: rgba($selected-color-primary, 0.5)
$selected-color-secondary: #ffe70020

.primary-color
  background-color: $selected-color-primary

.secondary-color
  background-color: $selected-color-secondary

.primary-color-opaque
  background-color: $selected-color-primary-50

.table-cell
  background-image: linear-gradient(to left, $selected-color-secondary, white)