$font-body: 'Open Sans', sans-serif
$font-alt: 'IBM Plex Sans Condensed', sans-serif
$font-script: 'Just Another Hand', cursive

=fontHeadlineBold
  font-family: $font-headline
  font-weight: 700

@font-face
  font-family: 'USPS IMb'
  src: url('../fonts/USPSIMBStandard.ttf') format('truetype')

.barcode
  font-family: 'USPS IMb', Arial, sans-serif
