.input
  width: 30%
  padding: 2rem
  background-color: $color-quaternary
  color: $color-white

  span
    display: block
    font-size: 10px
    margin-top: 4px

  input
    display: block
    width: 100%
    margin-top: 6px
    border: none
    height: 30px
    border-radius: 2px
    padding-inline: 10px

  hr
    border: 1px solid $color-white
    // margin-top: 2rem
    margin-bottom: 1.5rem
    width: 100%

  #logo, #qrcode
    padding: 0