table
  width: 100%
  border-collapse: collapse

th, td
  border: 1px solid #ccc
  padding: 8px
  text-align: left
  vertical-align: top

th
  background-color: #f2f2f2
  font-weight: bold

tr:nth-child(even)
  background-color: #f9f9f9

.site
  max-width: 100%
  width: 100%
  // padding: 3rem


  
.site
  display: flex



.page__container
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  width: 100%
  padding-block: 2rem

.page + .page
  margin-top: 1rem

.page
  width: 612px
  height: 792px
  padding: 1rem
  // border: 1px solid #ccc
  background-color: $color-white
  
  

.top
  display: flex
  justify-content: space-between

  




// $table-cell-bg: #ffe70020


// .sel-color
//   color: #0B9AAB

// .sel-color-bg
//   background-color: #0B9AAB
//   color: white

// .secondary-color
//   background-color: #ffe70020

.invoice-logo
  max-width: 78px
  width: 100%

.barcode
  max-width: 210px


  

// .checkbox p
//   font-size: 7px

// .table-cell 
//   background-image: linear-gradient(to left, $table-cell-bg, white)

/* Style for table headers and table cells */
.table-header, .table-cell 
  border: 1px solid white
  padding: 10px
  font-size: 10px

.table-header
  font-family: $font-alt
  text-transform: uppercase
  font-size: 9px
  text-align: center


/* Style for the table */
.table 
  // border-collapse: collapse
  // border: 2px solid green
  width: 100%

.creditcard
  width: 14px
  height: 10px
  border: .5px solid black
  border-radius: 1px
  padding: 1px


button
  background-color: #0B9AAB
  color: white
  border: none
  padding: 10px 20px
  text-align: center
  text-decoration: none
  display: inline-block
  font-size: 12px
  margin: 4px 2px
  cursor: pointer
  border-radius: 2px