.site
  max-width: 100%
  width: 100%
  display: flex

.page__container
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  width: 100%
  padding-block: 2rem

.page + .page
  margin-top: 1rem

.page
  width: 612px
  height: 792px
  padding: 1rem
  background-color: $color-white
  position: relative
  
.top
  display: flex
  justify-content: space-between

.invoice-logo
  max-width: 78px
  width: 100%



.creditcard
  width: 14px
  height: 10px
  border: .5px solid black
  border-radius: 1px
  padding: 1px


button
  background-color: #0B9AAB
  color: white
  border: none
  padding: 10px 20px
  text-align: center
  text-decoration: none
  display: inline-block
  font-size: 12px
  margin: 4px 2px
  cursor: pointer
  border-radius: 2px

.bottom
  display: flex
  position: absolute
  width: 575px
  bottom: 18px

  

.bottom__post-it
  position: relative
  display: flex
  flex-direction: column

  &-message
    text-transform: uppercase
  
  &-text
    position: absolute
    left: 50%
    bottom: 15px
    width: 129px
    transform: rotate(-3deg)translateX(-50%)
    text-align: center
    font-family: 'Dakota', cursive
    line-height: 13px
    // font-size: 16px
    // padding-top: 24px

  img
    width: 129px

.bottom-right
  display: flex
  flex-direction: column
  align-items: flex-end
  margin-left: auto
  max-width: 430px
  width: 100%

  

  &__container
    display: flex
    margin-top: auto
    justify-content: space-between
    align-items: flex-end
    margin-bottom: 5px
    
    
    width: 100%

  &__text-arrow
    display: flex
    align-items: center
    
    width: 100%

    img
      margin-left: auto
      max-width: 62px


  &__left
    width: 130px

    &-top
      margin-bottom: 5px

    

    &-top, &-bottom
      border: 1px solid $selected-color-primary
      text-align: center
      

    &-top-header, &-bottom-header
      padding-block: 5px

    &-bottom-header
      border-bottom: 1px solid $selected-color-primary


    &-top-company, &-bottom-questions
      padding-block: 5px

  &__center
    border: 1px solid $selected-color-primary
    text-align: center
    width: 98px


    &-text
      padding: 5px 4px
      border-bottom: 1px solid $selected-color-primary



    &-image
      max-width: 47px
      width: 100%
      padding-top: 14px
      padding-bottom: 9px

  &__right
    width: 187px
    border: 1px solid $selected-color-primary
    border-radius: 5px

    &-top
      display: flex
      justify-content: space-between

  &__acct-num,
  &__stmnt-dt
    background-color: $selected-color-primary
    width: 50%
    text-align: center

    p:first-child
      padding-block: 2px
      color: $color-white
      // border-right: 1px solid $selected-color-primary

    p:last-child
      background-color: $color-white
      border-bottom: 1px solid $selected-color-primary
      padding-block: 6px

  &__acct-num
    border-right: 1px solid $selected-color-primary

  &__due-date,
  &__patient-resp
    display: flex
    justify-content: space-between

  &__due-date,
  &__patient-resp,
    p:first-child
      background-color: $selected-color-primary
      color: $color-white
      padding-block: 3px
      width: 87px
      text-align: center

    p:last-child
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      text-align: center
      width: 100px
      background-color: $selected-color-primary-50

  &__patient-resp
    position: relative
    border-top: 1px solid $selected-color-primary

    .patient-last-paragraph
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      text-align: center
      height: 100%
      background-color: $selected-color-primary-50 !important
      color: $color-black !important
      width: 100px !important
      position: absolute
      right: 0

  &__circle
    width: 90px
    position: absolute
    bottom: -3px
    right: 0
    height: 30px
    pointer-events: none

  .triangle
    position: absolute
    width: 0
    height: 0
    left: 83px
    bottom: 3px
    rotate: 90deg
    border-right: 12px solid transparent
    border-left: 12px solid transparent
    border-bottom: 18px solid $selected-color-primary