<div class="final-notice">
  <h2 class="h2">Final Notice</h2>

  <div class="final-notice__table">
    <table>
      <thead>
        <tr>
          <th class="table-header name sel-color-bg">Patient Name</th>
          <th class="table-header patient sel-color-bg">Total Patient Responsibility</th>
          <th class="table-header date sel-color-bg">Payment Due Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="table-cell name editable">
            <p>John Doe</p>
          </td>
          <td class="table-cell patient editable">
            <p>$197.88</p>
          </td>
          <td class="table-cell date editable">
            <p>12/01/2022</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


  <h4 class="h4">Final Notice</h4>

  <p>We regret that you have not paid the balance due on your account, nor have you responded to our notices. If payment in full is not made within <span>(10) ten days</span> we may turn your account over to legal collections and proceed with your dismissal from this practice. Turning your account over to collections could affect your credit rating. Collection fees will also be added.</p>

  <p>Please contact our billing department at 813.653.6100 to make a payment, set up payment arrangements or with any questions you have regarding this notice.</p>
  
  <p>Collections Department</p>
  <p>Suncoast Community Health Centers</p>

  <p>This is an attempt to collect a debt. Any information obtained will be used for that purpose.</p>

</div>