<div class="past-due">
  <h2 class="h2">Past Due Notice</h2>

  <div class="past-due__table">
    <table>
      <thead>
        <tr>
          <th class="table-header name sel-color-bg">Patient Name</th>
          <th class="table-header patient sel-color-bg">Total Patient Responsibility</th>
          <th class="table-header date sel-color-bg">Payment Due Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="table-cell name editable">
            <p>John Doe</p>
          </td>
          <td class="table-cell patient editable">
            <p>$197.88</p>
          </td>
          <td class="table-cell date editable">
            <p>12/01/2022</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


  <h4 class="h4">Past Due Notice</h4>

  <p>This is a friendly reminder that you have an outstanding patient balance. We realize that life is busy and this could be a simple oversight.</p>

  <p><span class="bold">Please remit your payment within 15 days.</span> If you cannot pay in full or need to arrange a special payment plan please contact our office at 813.653.6100.</p>
  
  <p>Thank you for your cooperation in this matter.</p>

  <p>Sincerely,</p>
  <p>Billing Department<br>Suncoast Community Health Centers</p>

</div>