    

  

    <div class="top">
      {{ partial "partials/logo-section" }}
      {{ partial "partials/top-right" }}
    </div>

    


    



    <table class="table">
      <thead>
          <tr>
              <th class="table-header sel-color-bg">DATE</th>
              <th class="table-header sel-color-bg">Description</th>
              <th class="table-header sel-color-bg">CHARGES</th>
              <th class="table-header sel-color-bg">PAYMENTS & ADJUSTMENTS</th>
              <th class="table-header sel-color-bg">PATIENT RESPONSIBILITY</th>
          </tr>
      </thead>
      <tbody>
          <tr>
            <td class="table-cell editable"></td>
            <td class="table-cell editable">John Doe (555924) / Casey M Arnold MD</td>
            <td class="table-cell editable"></td>
            <td class="table-cell editable"></td>
            <td class="table-cell editable"></td>
          </tr>
          <!-- <tr>
            <td contenteditable="true" class="table-cell">10/17/22</td>
            <td contenteditable="true" class="table-cell">Office visit</td>
            <td contenteditable="true" class="table-cell">165.00</td>
            <td contenteditable="true" class="table-cell"></td>
            <td contenteditable="true" class="table-cell"></td>
          </tr> -->
          <!-- <tr>
            <td contenteditable="true" class="table-cell">10/17/22</td>
            <td contenteditable="true" class="table-cell">10/17/22</td>
            <td contenteditable="true" class="table-cell">John Doe (555924) / Casey M Arnold MD<br>Office visit 165.00<br>Blood count 49.00<br>Basic metabolic panel 59.00</td>
            <td contenteditable="true" class="table-cell">Insurance adjustment - 25.22<br>Insurance payment - 82.16<br>Patient payment - 30.00</td>
            <td contenteditable="true" class="table-cell">BALANCE 135.62</td>
          </tr> -->
      </tbody>
    </table>
  
      


