<div class="input">
  <h1 class="h1">InvoiceCreator</h1>
  <hr>
  <br>
  <label for="bg-color">Primary Color:</label>
  <input type="text" id="primary-color">
  <br>

  <label for="secondary-color">Secondary Color:</label>
  <input type="text" id="secondary-color" value="#ffe70020">
  <br>

  <label for="logo">Logo:</label>
  <input type="file" id="logo" accept="image/*">

  <br>

  <label for="qrcode">QR Code:</label>
  <input type="file" id="qrcode" accept="image/*">
  <!-- <br>
  <label for="barcode">
    Barcode:
    <span>*Uses USPS IMb font for barcode - default shown</span>
  </label>
  <input type="text" id="barcode" value="DFTFTFAFTDTDDFATDFDADFDTATTFADFATFFFTTFFDDFFAFTDTTFDFTDADAFTFTTFT" />  <br> -->
  
  <button class="pdf-button" id="generate-pdf">Generate PDF</button>
</div>