<div class="logo-section">
  <p class="sel-color-bg rounded bold">MAKE CHECKS PAYABLE TO:</p>
  <img class="invoice-logo" src="../images/suncoast-logo.png" alt="">
  <p class="sel-color logo-section__address">313 S. Lakewood Drive, Brandon, FL 33511</p>
  <p class="sel-color editable medium bold logo-section__billing-questions">Billing Questions: 813.653.6100</p>
  <p class="sel-color editable medium bold logo-section__url">www.suncoast-chc.org</p>
  <p class="sel-color-bg rounded bold">ADDRESSEE:</p>

  <div class="logo-section__addressee">
    <p class="large editable">
      JOHN DOE<br>
      456 PARKER ST<br>
      ANYTOWN, USA 12345-0621
    </p>
  </div>

  <div class="logo-section__checkbox">
    <div class="logo-section__checkbox-box sel-color-border"></div>
    <p class="sel-color x-small">Please check box if above address is incorrect or insurance information has changed, and indicate change(s) on reverse side.</p>
  </div>
</div>