<div class="top">
  {{ partial "partials/logo-section" }}
  {{ partial "partials/top-right" }}
</div>

<div class="middle">
  {{ partial "doctype/statement" }}
  {{ partial "doctype/past-due" }}
  {{ partial "doctype/final-notice" }}
</div>

<div class="bottom">
  <div class="bottom__post-it">
    <p class="bottom__post-it-message sel-color bold">Message:</p>

    <p class="bottom__post-it-text editable">
      Did you fill out a<br>
      Sliding Fee application?<br>
      You may qualify for a discount.<br>
      Payment plans are<br>
      also available!</p>
    <img src="https://garrettsiegel.github.io/invoicecreator/images/post-it.png" alt="">
  </div>
  <div class="bottom-right">

    <div class="bottom-right__container">

      <div class="bottom-right__left">
        <div class="bottom-right__left-top sel-color-border">
          <p class="bottom-right__left-top-header sel-color-bg bold">Make Checks Payable To:</p>
          <p class="bottom-right__left-top-company large sel-color bold">Suncoast Community Health Centers</p>
        </div>
        <div class="bottom-right__left-bottom sel-color-border">
          <p class="bottom-right__left-bottom-header sel-color bold opaque sel-color-border">Billing Questions</p>
          <p class="bottom-right__left-bottom-questions large sel-color bold">813.653.6100</p>
        </div>
      </div>
      <div class="bottom-right__center sel-color-border">
        <p class="bottom-right__center-text x-small sel-color bold opaque sel-color-border">Scan here to be directed to our new Online Payment site.</p>
        <img class="bottom-right__center-image qrcode" src="https://garrettsiegel.github.io/invoicecreator/images/qr-code.png" alt="">
      </div>
      <div class="bottom-right__right sel-color-border">
        <div class="bottom-right__right-top sel-color-border">
          <div class="bottom-right__acct-num sel-color-border">
            <p class="bold sel-color-bg">ACCOUNT NUMBER</p>
            <p class="editable sel-color-border">555924</p>
          </div>
          <div class="bottom-right__stmnt-dt sel-color-border">
            <p class="bold sel-color-bg">STATEMENT DATE</p>
            <p class="editable sel-color-border">11/15/2022</p>
          </div>
        </div>
        

        <div class="bottom-right__due-date">
          <p class="bold sel-color-bg">PAYMENT<br>DUE DATE</p>
          <p class="bold editable">12/01/2022</p>
        </div>

        <div class="bottom-right__patient-resp sel-color-border">
          <div>
            <p class="bold sel-color-bg">PATIENT RESPONSIBILITY</p>
            <div class="triangle"></div>
          </div>
          <div>
            <p class="bold patient-last-paragraph editable">$197.88</p>
            <img class="bottom-right__circle" src="https://garrettsiegel.github.io/invoicecreator/images/circle.png" alt="">
  
          </div>
          
        </div>

      </div>
    </div>




    <div class="bottom-right__text-arrow">
      <p class="large sel-color">Please see reverse side of statement for important billing questions.</p>
      <img src="https://garrettsiegel.github.io/invoicecreator/images/arrow.png" alt="">
    </div>
  </div>
</div>
