<div class="pg2">
  <div class="pg2__header">
    <div class="pg2__header-inner">
      <p class="medium bold">PLEASE UPDATE ANY INFORMATION THAT HAS CHANGED SINCE YOUR LAST STATEMENT</p>
    </div>
  </div>
  <div class="pg2__top">
    <div class="pg2__top-left">

      <div class="pg2__pay-by-card">
        <div class="pg2__pay-by-card-container">
          <p class="x-small bold underline">IF PAYING BY CREDIT CARD, FILL OUT BELOW</p>
    
          <div class="pg2__credit-cards underline">
            <div class="pg2__credit-card">
              <img src="../images/pg2-visa.png" alt="">
              <div class="pg2__checkbox"></div>
            </div>
            <div class="pg2__credit-card">
              <img src="../images/pg2-mc.png" alt="">
              <div class="pg2__checkbox"></div>
            </div>
            <div class="pg2__credit-card">
              <img src="../images/pg2-discover.png" alt="">
              <div class="pg2__checkbox"></div>
            </div>
            <div class="pg2__credit-card">
              <img src="../images/pg2-amex.png" alt="">
              <div class="pg2__checkbox"></div>
            </div>
          </div>
      
          <div class="pg2__card-number underline">
            <p class="x-small">card number</p>
            <div class="pg2__auth">
              <div class="pg2__auth-code">
                <p>authorization<br>code</p>
                <div class="pg2__auth-underline"></div>
                <div class="pg2__auth-underline"></div>
                <div class="pg2__auth-underline"></div>
                <div class="pg2__auth-underline"></div>
              </div>
              <p class="pg2__auth-code-tiny">(usually last 3 or 4 digits on back of card in signature line)</p>
            </div>
          </div>
    
          <div class="pg2__signature-exp">
            <p class="x-small">signature</p>
            <p class="x-small">exp. date</p>

          </div>
      
          
        </div>
        
        <div class="pg2__pay-by-card-bottom">
          <div class="pg2__pay-by-card-checkbox">
            <div class="pg2__checkbox"></div>
            <p class="medium bold">paying by check</p>
          </div>
      
          <div class="pg2__amount-paid">
            <p class="x-small bold">show amount<br>paid here</p>
            <p class="x-large bold">$</p>
          </div>
        </div>
        
    
      </div>
    
      <div class="pg2__address-change">
        <div class="underline top-section-container">
          <div class="underline top-section">
            <p class="large bold">ADDRESS CORRECTION</p>
            <p class="x-small">COMPLETE THIS SECTION IF YOUR ADDRESS ON REVERSE SIDE IS INCORRECT</p>
          </div>
        </div>
        
        <div class="underline">
          <p class="x-small">name</p>
        </div>
        <div class="underline">
          <p class="x-small">address</p>
        </div>
        <div class="underline"></div>
        <div class="underline">
          <p class="x-small">city</p>
        </div>
        <div>
          <p class="x-small">state, zip</p>
        </div>
        
      </div>

    </div>
  
    <div class="pg2__top-right">
      <div class="pg2__insurance">
        <div class="underline">
          <p class="x-small">PRIMARY INSURANCE COMPANY NAME</p>
        </div>
        <div class="underline">
          <p class="x-small">INSURANCE COMPANY'S ADDRESS</p>

        </div>
        <div class="group underline">
          <p class="x-small">CITY</p>
          <p class="x-small state">STATE</p>
          <p class="x-small">ZIP</p>
        </div>
        <div class="group underline">
          <p class="x-small">POLICY HOLDER NAME</p>
          <p class="x-small">HOLDER'S DOB</p>
          <p class="x-small">RELATIONSHIP TO INSURED</p>
        </div>
        <div class="group underline">
          <p class="x-small">INSURED'S ID NUMBER</p>
          <p class="x-small">GROUP PLAN NUMBER</p>
        </div>
        <div class="underline">
          <p class="x-small">SECONDARY INSURANCE COMPANY NAME</p>
        </div>
        <div class="underline">
          <p class="x-small">INSURANCE COMPANY'S ADDRESS</p>
        </div>
        <div class="group underline">
          <p class="x-small">CITY</p>
          <p class="x-small state">STATE</p>
          <p class="x-small">ZIP</p>
        </div>
        <div class="group">
          <p class="x-small">INSURED'S ID NUMBER</p>
          <p class="x-small">GROUP PLAN NUMBER</p>
        </div>
        

      </div>
    </div>
  </div>

  <div class="pg2__sliding-fee">
    <p class="medium bold">Sliding Fee Scale</p>
    <p class="medium">You can find more information on the Sliding Fee Scale by visiting our website at <span class="bold editable">www.suncoast-chc.org</span>. Click on the Patient
      tab at the top and then selecting Patient Resources. The Sliding Fee Scale information is then under our Fees and Accepted
      Insurance information.</p>
  </div>

  <div class="pg2__bottom">
    <div class="bottom-section">
      <p class="bold">FINANCIAL POLICY</p>
      <p>We are committed to providing you with the best possible care and we are pleased to discuss our professional fees with you at any time. Your clear understanding of our financial policy is important to our professional relationship. Please ask if you have any questions about our fees or your responsibility as a patient.</p>
    </div>
    <div class="bottom-section">
      <p class="bold">How much do I really owe?</p>
      <p>You are responsible for the amount listed in the box PATIENT RESPONSIBILITY. As every insurance plan is different, if you disagree with how your insurance paid on your account, please contact them prior to contacting our office.</p>
    </div>
    <div class="bottom-section">
      <p class="bold">What if I cannot pay in full?</p>
      <p>Please call our patient account representatives at the number listed on the front of this statement.</p>  
    </div>
    <div class="bottom-section">
      <p class="bold">Co-Pay:</p>
      <p>A dollar amount contracted between you and your insurance carrier, due at time of service.</p>  
    </div>
    <div class="bottom-section">
      <p class="bold">Co-Insurance:</p>
      <p>A percentage of the insurance benefits that you are responsible for.</p>  
    </div>
    <div class="bottom-section">
      <p class="bold">Deductible:</p>
      <p>A yearly dollar amount that you are responsible for based on the type of coverage you have selected with your insurance company.</p>  
    </div>
    <div class="bottom-section">
      <p class="bold">Adjustment:</p>
      <p>A contractual agreement that has been made between our Doctors and your insurance company.</p>  
    </div>
    
    
    
    
    <div class="pg2__bottom-end">
      <p class="x-large bold">For your convenience, we offer the following payment options:</p>

      <div class="pg2__bottom-end-item">
        <div class="pg2__checkmark">✓</div><p class="bold">Cash</p>
      </div>
      <div class="pg2__bottom-end-item">
      <div class="pg2__checkmark">✓</div><p class="bold">Personal Checks</p>
      </div>
      <div class="pg2__bottom-end-item">
      <div class="pg2__checkmark">✓</div><p class="bold">Credit Cards</p>
      </div>
      <div class="pg2__bottom-end-item">
      <div class="pg2__checkmark">✓</div><p class="bold">Money Order</p>
      </div>

      <p class="bold">Payment is due in full by the <span class="ul">PAYMENT DUE DATE</span> indicated on the front of this statement.</p>
    </div>
  </div>
  


</div>
