<table class="table">
  <thead>
      <tr>
          <th class="table-header date sel-color-bg">DATE</th>
          <th class="table-header desc sel-color-bg">Description</th>
          <th class="table-header charges sel-color-bg">CHARGES</th>
          <th class="table-header pmnts sel-color-bg">PAYMENTS & ADJUSTMENTS</th>
          <th class="table-header patient sel-color-bg">PATIENT RESPONSIBILITY</th>
      </tr>
  </thead>
  <tbody>
      <tr>
        <td class="table-cell date editable">
          <p>
            <br>
            10/17/22<br>
            10/17/22<br>
            10/17/22<br>
            10/22/22<br>
            10/22/22<br>
            10/22/22<br>
          </p>
        </td>
        <td class="table-cell desc editable">
          <p class="bold">John Doe (555924) / Casey M Arnold MD</p>
          <p>
            Office visit<br>
            Blood count<br>
            Basic metabolic panel<br>
            Insurance adjustment<br>
            Insurance payment<br>
            Patient payment
          </p>
          <p class="bold align-right">Balance</p>
          </td>
        <td class="table-cell charges editable">
          <p>
            <br>
            165.00<br>
            49.00<br>
            59.00<br>
          </p>
        </td>
        <td class="table-cell pmnts editable">
          <p>
            <br>
            <br>
            <br>
            <br>
            -25.22<br>
            -82.16<br>
            -30.00
          </p>
        </td>
        <td class="table-cell patient editable">
          <p class="bold">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            135.62
          </p>
        </td>
      </tr>
  </tbody>
</table>