<div class="top-right">

  <div class="top-right__billpay secondary-color sel-color-border">
    <div class="top-right__billpay-container">
      <p class="medium">Save time. Pay online!</p>
      <div class="top-right__credit-cards">
        <div class="top-right__credit-card">
          <img src="images/mastercard.png" alt="mastercard">
        </div>
        <div class="top-right__credit-card">
          <img src="https://garrettsiegel.github.io/invoicecreator/images/visa.png" alt="visa">
        </div>
        <div class="top-right__credit-card">
          <img src="https://garrettsiegel.github.io/invoicecreator/images/discover.png" alt="discover">
        </div>
        <div class="top-right__credit-card">
          <img src="https://garrettsiegel.github.io/invoicecreator/images/amex.png" alt="american express">
        </div>
      </div>
      
    </div>
    <p class="medium bold">Pay your bill online at <span class="editable">www.suncoast-chc.org</span></p>
    <div class="top-right__pay-online">
      <p class="medium">Enter your online bill pay code:</p>
      <p class="medium bold editable">BPC0D3</p>
    </div>
    
  </div>

    <p class="top-right__pay-by-check sel-color">See reverse side to make a payment by credit card or check.</p>

    <div class="top-right__pmnt-info-container">
      <div class="top-right__pmnt-info secondary-color sel-color-border">
        <p class="top-right__pmnt-info-header sel-color-bg x-small bold">Payment Due Date:</p>
        <p class="top-right__pmnt-desc large bold editable">12/01/2022</p>
      </div>
      <div class="top-right__pmnt-info secondary-color sel-color-border">
        <p class="top-right__pmnt-info-header sel-color-bg x-small bold">&nbsp;
          <span class="top-right__absolute">Patient Responsibility:</span>
        </p>
        <img class="top-right__pmnt-info-image" src="https://garrettsiegel.github.io/invoicecreator/images/circle.png" alt="">
        <p class="top-right__pmnt-desc large bold editable zindex">$197.88</p>
      </div>
    </div>

    <div class="top-right__pmnt-info-container">
      <div class="top-right__pmnt-info sel-color-border">
        <p class="top-right__pmnt-info-header sel-color-bg x-small bold">Account Number:</p>
        <p class="top-right__pmnt-desc large editable">555924</p>
      </div>
      <div class="top-right__pmnt-info sel-color-border">
        <p class="top-right__pmnt-info-header sel-color-bg x-small bold">Statement Date:</p>
        <p class="top-right__pmnt-desc large editable">11/15/2022</p>
      </div>
    </div>





    <p class="top-right__remit-to sel-color-bg rounded bold">remit to:</p>
    
    <div class="top-right__address">
      <p class="medium bold editable">
        SUNCOAST COMMUNITY HEALTH CENTERS<br>
        313 S LAKEWOOD DR<br>
        BRANDON FL 33511-2815
      </p>
    </div>
    <p class="top-right__barcode barcode">DFTFTFAFTDTDDFATDFDADFDTATTFADFATFFFTTFFDDFFAFTDTTFDFTDADAFTFTTFT</p>

    <p class="top-right__detach x-small sel-color">Please detach and return top portion with payment</p>

</div>